<ion-view view-title="Liturgical Reading">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-calm">January</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">February</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-balanced">March</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-calm">April</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">May</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-balanced">June</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-calm">July</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">August</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-balanced">September</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-calm">October</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">November</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
    <div class="card">
      <div class="item item-divider item-balanced">December</div>
      <div class="item item-divider"> Week 1</div>
      <div class="item item-divider"> Week 2</div>
      <div class="item item-divider"> Week 3</div>
      <div class="item item-divider"> Week 4</div>
    </div>
  </ion-content>
</ion-view>
