/* Empty. Add your own CSS if you like */



.songtitle{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.clrgrey{
  color: #757575;
}

.mypopup .button {
  display: none;
}

.spinner svg {
  position: relative;
  left: 40%;
  top: 40%;
  width: 19% !important;
  height: 85px !important;
}
pre{
  font-family: "Roboto";
  font-weight: 400;
}
